<?xml version="1.0"?>
<configuration>
	<system.net>
		<mailSettings>
			<!-- working, enter my utech password -->
			<!--<smtp deliveryMethod="Network" from="vpougatchev@utech.edu.jm">		
				<network 
					port="25"
					host="localhost" 
					password=""	
					userName="vpougatchev"
				/>
			</smtp>-->
			<!-- working, enter my gmail password -->
			<smtp deliveryMethod="Network" from="valeri.pougatchev@gmail.com">
				<network
					port="587"
					host="smtp.gmail.com"
					password=""
					userName="valeri.pougatchev@gmail.com"
				/>
			</smtp>
		</mailSettings>
	</system.net>
	<system.web>
		<compilation debug="true"/>
	</system.web>
</configuration>
