<?xml version="1.0"?>
<!--<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">-->
<configuration>
	<connectionStrings>
        <!--<remove name="LocalSqlServer" />-->
        <add name="HalloweenConnectionString"
             connectionString="Data Source=LAPTOP-VALERI\SQLEXPRESS;Initial Catalog=Halloween;
				Integrated Security=True;"		 
             providerName="System.Data.SqlClient" />
	</connectionStrings>
  <appSettings>
    <add key="AppPath18" value="//localhost/Ch18HalloweenStore/" />
  </appSettings>
  <system.web>
  <authentication mode="Forms"/>
		<roleManager enabled="true" />
		<compilation debug="true"/>
</system.web>
</configuration>
